* {
  color:#00FF00;
  font-family: monospace;
}

body {
  background-color: black;
}

input , textarea {
  border: 1px solid #00FF00 !important;
  background-color: black !important;
  border-radius: 0 !important;
  color: #00FF00 !important;
}

.border {
  border: 2px solid #00FF00 !important;
}

.owl-nav {
  position: relative;
  top: -25em;
}

.owl-prev {
  float: right;
  left: .8em;
  position: relative;
  font-size: 10em !important;
  outline: none !important;
}

.owl-next {
  float: left;
  right: .8em;
  position: relative;
  font-size: 10em !important;
  outline: none !important;
}

.hidden {
  display: none;
}

.max-height {
  max-height: 27em !important;
}